.form-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.book-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.book-form label {
    font-weight: bold;
}

.book-form input[type="text"],
.book-form input[type="date"],
.book-form select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

.book-form input[type="submit"] {
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
}

.book-form input[type="submit"]:hover {
    background-color: #0056b3;
}
