/* SearchPage.module.css */

.container {
    display: flex;
}

.half {
    width: 100%;
    margin-bottom: 20px;
}
.returnButton {
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}



.returnButton {
    position: absolute;
    top: 30px;
    left: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    margin-left: 50px;

}

.returnButton:hover {
    background-color: #0056b3;
}

.returnButton svg {
    margin-right: 5px;
}
